* {box-sizing:content-box}

section {
    position: relative;
    top: 60px;
}

/* Slideshow container */
/*.blahblah 클래스 선택자를 의미합니다.*/
.slideshow-container {
    max-width: 80%;
    position: relative;
    /*브라우저에서 중앙정렬 하고 싶을 때 사용!*/
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
/* 이전, 다음 버튼에 대한 설정*/
.prev, .next {
    /*호버 되었을 때, 커서의 모양!*/
    cursor: pointer;
    position: absolute;
    /*부모 박스 내에서, 위치*/
    top: 50%;
    width: auto;
    /*margin-top: px;*/
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    /*css 값 변화가 일어나는 시간*/
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /*사용자는 선택 못함, 드래그 못한다는 뜻*/
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    /*특히, next버튼은 오른쪽에 붙어 있어야 한다.*/
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/*.text {*/
/*    color: #f0f4f5;*/
/*    font-size: 15px;*/
/*    padding: 8px 12px;*/
/*    position: absolute;*/
/*    bottom: 8px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
}

/* Fading animation */
/* 사진들이 1.5초에 걸쳐 불투명도가 0.4~1로 이동. */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/*fade라는 애니메이션을 정의함.*/
@-webkit-keyframes fade {
    /*불투명도가 0.4~ 1로 감.*/
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}