:root {
    /*color*/
    --white-color: white;
    --black-color: black;
    --grey-light-color: lightgrey;
    --grey-dark-color: darkgray;
    --navy-color: #263343;

    /*size*/
    --padding: 12px;
    --avatar-size: 36px;

    /*font size*/
    --font-large: 32px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;


    /*스크롤을 없애주는 아주 고마운 친구^^*/
    overflow: hidden;
}

button {
    margin-left: 30px;
}

.check-my-profile-section {
    height: 80vh;
    width: 60%;

    margin: 0 auto;

    /*flex는 내부 요소들을 크기 및 동적상태 여하와 상관 없이 각 요소를 정렬할 수 있는 방법을 제공한다.*/
    /*flex는 container와 item에 적용하는 속성이 구분되어 있다.*/
    /*flex container요소 중 justify-content는 주 축의 정렬방법을 설정합니다. align-items는 교차 축에서 item의 정렬방법을 설정합니다*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.check-my-profile-title {
    padding-bottom: 15px;
    border-bottom: solid 3px black;
}

.check-my-profile-title>h1 {
    display: inline-block;
}

.my-info-img .mb-3 {
    margin-top: 30px;

}

.check-my-profile-table {
    margin-top: 10px;
}

.check-my-profile-table th {
    text-align: center;
}

.modify-my-pw-table {
    margin-bottom: 0px;
}

.modify-my-pw-table th {
    text-align: left;
    font-weight: normal;

}

.modify-my-pw-table td {
    padding-left: 0px;
}

.form-control {
    width: 250px;
    display: inline-block;
}