* {box-sizing:border-box}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
section{
    width: 100%;
    position: relative;
    top: 200px;
}

.Info_box {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: black 3px solid;
}

/*메뉴 박스 내 의 배치 지정*/
.Info_text {
    list-style: none;
}

.Info_text li {
    font-size: 24px;
    margin : 0px 20px;
    padding: 4px 18px;
}

#Info_title {
    font-size: 48px;
    margin : 25px
}

.Info_map{
    float: right;
}